In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import datetime as dt
import warnings
import plotly.graph_objects as go
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [25]:
df=pd.read_csv('/content/Customer Purchase Data.csv')

In [26]:
avg_age = df['Age'].mean()
print(f"The average age is: {avg_age}")

The average age is: 43.251835535976504

In [27]:
summary = df.describe()  # Summary statistics for numerical columns
print(summary)

            Number          Age        Income  Spending_Score  \
count  1362.000000  1362.000000   1362.000000     1362.000000
mean    681.500000    43.251836  48317.193784     9765.372547
std     393.319844    12.533236  12648.638324     2531.133100
min       1.000000    18.000000  19946.675740     4064.177336
25%     341.250000    33.000000  38532.229703     7830.921337
50%     681.500000    43.000000  48758.233625     9850.200389
75%    1021.750000    54.000000  58579.901010    11810.345793
max    1362.000000    64.000000  73182.569800    14791.611800

       Membership_Years  Purchase_Frequency  Last_Purchase_Amount
count       1362.000000         1362.000000           1362.000000
mean           9.513950           49.551706           4931.689546
std            5.417624           27.074169           1266.894447
min            1.000000            4.876052           2057.551913
25%            5.000000           26.560455           3962.190531
50%            9.000000           47.729713           4972.893731
75%           14.000000           72.135292           5962.991091
max           19.000000           99.492184           7519.376995

In [28]:
missing_values = df.isnull().sum()
print(missing_values)

Number                  0
Age                     0
Income                  0
Spending_Score          0
Membership_Years        0
Purchase_Frequency      0
Last_Purchase_Amount    0
dtype: int64

In [29]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset has 1362 rows and 7 columns.

In [30]:
print(df.head())  # Print first 5 rows of the dataset

   Number  Age       Income  Spending_Score  Membership_Years  \
0       1   56  61350.84215    12372.864450                15
1       2   46  53777.18224    11001.604230                10
2       3   32  39460.32263     8007.385018                19
3       4   60  66672.12210    13526.548370                12
4       5   38  44459.08553     9059.304083                 9

   Purchase_Frequency  Last_Purchase_Amount
0           77.685590           6232.122440
1           51.858351           5545.849698
2           98.166371           4054.645293
3           62.530976           6815.544393
4           46.470533           4617.833484

In [34]:
print(df['Membership_Years'].value_counts())  # Replace 'Survived' with your column name

Membership_Years
5     88
2     86
10    85
7     85
3     79
4     79
12    77
13    76
6     76
16    74
1     69
18    69
9     69
17    65
8     64
14    60
11    57
19    55
15    49
Name: count, dtype: int64

In [36]:
# Step 1: Install and authenticate Kaggle API
!pip install kaggle
import os


# Step 4: Load CSV into pandas
import pandas as pd
df = pd.read_csv('/content/Customer Purchase Data.csv')  # Make sure the file name is correct

# Step 5: Data Analysis
# Calculate average age
avg_age = df['Age'].mean()
print(f"The average age is: {avg_age}")

# Basic statistics
summary = df.describe()
print(summary)

# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

# Count unique values in 'Survived' column
print(df['Spending_Score'].value_counts())

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)
The average age is: 43.251835535976504
            Number          Age        Income  Spending_Score  \
count  1362.000000  1362.000000   1362.000000     1362.000000
mean    681.500000    43.251836  48317.193784     9765.372547
std     393.319844    12.533236  12648.638324     2531.133100
min       1.000000    18.000000  19946.675740     4064.177336
25%     341.250000    33.000000  38532.229703     7830.921337
50%     681.500000    43.000000  48758.233625     9850.200389
75%    1021.750000    54.000000  58579.901010    11810.345793
max    1362.000000    64.000000  73182.569800    14791.611800

       Membership_Years  Purchase_Frequency  Last_Purchase_Amount
count       1362.000000         1362.000000           1362.000000
mean           9.513950           49.551706           4931.689546
std            5.417624           27.074169           1266.894447
min            1.000000            4.876052           2057.551913
25%            5.000000           26.560455           3962.190531
50%            9.000000           47.729713           4972.893731
75%           14.000000           72.135292           5962.991091
max           19.000000           99.492184           7519.376995
Number                  0
Age                     0
Income                  0
Spending_Score          0
Membership_Years        0
Purchase_Frequency      0
Last_Purchase_Amount    0
dtype: int64
Spending_Score
12372.864450    1
12951.727360    1
9804.713130     1
8085.407390     1
6128.024551     1
               ..
7941.868675     1
11653.483390    1
13206.741880    1
11383.379640    1
7995.516025     1
Name: count, Length: 1362, dtype: int64

In [37]:
import pandas as pd

# Step 1: Load the CSV file into a Pandas DataFrame
df = pd.read_csv('/content/Customer Purchase Data.csv')  # Replace 'your_file.csv' with your actual file path

# Step 2: View the first few rows
print("First 5 rows of the dataset:")
print(df.head())

# Step 3: Calculate the average of a column (e.g., Age)
average_age = df['Age'].mean()
print(f"\nAverage Age: {average_age}")

# Step 4: Calculate the sum of a column (e.g., Fare)
total_income= df['Income'].sum()
print(f"\nTotal income: {total_income}")

# Step 5: Get summary statistics for numerical columns
print("\nSummary statistics:")
print(df.describe())

# Step 6: Check for missing values
print("\nMissing values in each column:")
missing_values = df.isnull().sum()
print(missing_values)

# Step 7: Count unique values in a column (e.g., Survived)
print("\nMembership_year counts:")
Year_counts = df['Membership_Years'].value_counts()  # Replace 'Survived' with your column
print(Year_counts)

First 5 rows of the dataset:
   Number  Age       Income  Spending_Score  Membership_Years  \
0       1   56  61350.84215    12372.864450                15
1       2   46  53777.18224    11001.604230                10
2       3   32  39460.32263     8007.385018                19
3       4   60  66672.12210    13526.548370                12
4       5   38  44459.08553     9059.304083                 9

   Purchase_Frequency  Last_Purchase_Amount
0           77.685590           6232.122440
1           51.858351           5545.849698
2           98.166371           4054.645293
3           62.530976           6815.544393
4           46.470533           4617.833484

Average Age: 43.251835535976504

Total income: 65808017.93413

Summary statistics:
            Number          Age        Income  Spending_Score  \
count  1362.000000  1362.000000   1362.000000     1362.000000
mean    681.500000    43.251836  48317.193784     9765.372547
std     393.319844    12.533236  12648.638324     2531.133100
min       1.000000    18.000000  19946.675740     4064.177336
25%     341.250000    33.000000  38532.229703     7830.921337
50%     681.500000    43.000000  48758.233625     9850.200389
75%    1021.750000    54.000000  58579.901010    11810.345793
max    1362.000000    64.000000  73182.569800    14791.611800

       Membership_Years  Purchase_Frequency  Last_Purchase_Amount
count       1362.000000         1362.000000           1362.000000
mean           9.513950           49.551706           4931.689546
std            5.417624           27.074169           1266.894447
min            1.000000            4.876052           2057.551913
25%            5.000000           26.560455           3962.190531
50%            9.000000           47.729713           4972.893731
75%           14.000000           72.135292           5962.991091
max           19.000000           99.492184           7519.376995

Missing values in each column:
Number                  0
Age                     0
Income                  0
Spending_Score          0
Membership_Years        0
Purchase_Frequency      0
Last_Purchase_Amount    0
dtype: int64

Membership_year counts:
Membership_Years
5     88
2     86
10    85
7     85
3     79
4     79
12    77
13    76
6     76
16    74
1     69
18    69
9     69
17    65
8     64
14    60
11    57
19    55
15    49
Name: count, dtype: int64